<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../cssindex.css">
</head>

<img src="{{screenshot}}" id="srnshot" height="100px" width="100px">
<div id="desc"><p>{{description}}</p></div>
<div class="access"><a href="../projects/{{title}}">GO!</a></div>
