<div class="container">
    <div class="header">
        <p id="welcome">Hi! welcome to my ultra professional portfolio</p>
    </div>
    <div id="menu">
        {{> list}}
    </div>
    <img src="{{screenshot}}" id="srnshot">
    <div id="desc"><p>{{description}}</p></div>
    <div class="access"><a href="../projects/{{title}}">GO!</a></div>
</div>
