<div class="container">
    <div class="header">
        <p id="welcome">Hi! welcome to my ultra professional portfolio</p>
    </div>
    <div id="menu">
        {{> list}}
    </div>


    {{title}}
</div>
